[2010-05-10 13:39] ghost opened #1 "record.title() conflates 245a and 245b"
The title() method, if called on an item where the main title is in 245a and the subtitle in 245b, jams title and subtitle together. They need a colon and space separator.

[2010-05-11 12:56] #1 closed, assigned to nobody

[2010-07-08 09:12] np5 opened #2 "MARC-8 output"
I need to output records encoded in MARC-8. I am willing to code this, but I would like to know how you would advice I should do it ?

[2010-07-14 21:39] anarchivist opened #3 "Record.as_marc() forces output encoding to UTF-8"
Looks like this was introduced in 022172c6cf3030b7450f2ba8e70e9c44e7802782 and e1b1f9abb05c0d5ca9bc94a68442fb92ea290d53 by me. :(

Really, Record.as_marc() should do some checking to see [if leader/09 is set to "a"](http://www.loc.gov/marc/specifications/speccharucs.html#encodingmark) or perhaps have as_marc() passed a boolean argument. Currently, the Record constructor has an optional a "force_ut

[2010-10-14 02:55] #3 closed, assigned to nobody

[2010-10-25 11:36] sraps opened #7 "Unable to work with real UTF-8 MARC packets"
## Here is the error I got:

[2010-10-25 14:17:46,099][test_db5] ERROR:web-services:[24]:     'raw_data': record.as_marc21(),
[2010-10-25 14:17:46,100][test_db5] ERROR:web-services:[25]:   File "build/bdist.linux-i686/egg/pymarc/record.py", line 221, in as_marc
[2010-10-25 14:17:46,100][test_db5] ERROR:web-services:[26]:     field_data = field_data.encode('utf-8')
## [2010-10-25 14:17:46,100][test

[2011-06-11 04:24] tingletech opened #10 ""editing" MARC; writing it; then re-reading it gives "IndexError: string index out of range""
Here is a failing test and a sample MARC record

https://github.com/tingletech/pymarc/commit/ee7f4041befa779eb18f817fa629a140d77de11e

[2011-06-28 09:48] isergey opened #11 "Embedded fields of UNIMARC"
Thank you for pymarc!
But pymarc can't handle  embedded fields in UNIMARC scheme. Eg:

EX 1 Embedded fields technique
200 1#$aKesteven chronicle ...
205 ##$aFosse Way ed.
430 #1$12001#$aLincolnshire chronicle$1205##$aNorth Kesteven ed.

More info: http://archive.ifla.org/VI/3/p1996-1/uni4.htm#410

[2011-09-09 12:44] #7 closed, assigned to nobody

[2011-09-09 12:45] #2 closed, assigned to nobody

[2011-10-12 17:59] EdwardBetts opened #16 "Problem reading alternative graphic character sets"
Below is a failing unit test. As I understand it subscript 2 can be represented in MARC-8 like this: ESC b 2 ESC s.
pymarc doesn't handle this correctly. Is it a bug, or am I doing something wrong?

from pymarc import marc8_to_unicode

assert marc8_to_unicode('CO\x1bb2\x1bs is a gas') == u'CO\u2082 is a gas'

[2011-10-12 19:41] #16 closed, assigned to nobody

[2011-10-13 05:19] nibrahim opened #17 "Version mismatch."
With version 2.8.2, the setup.py indicates the version number correctly (2.8.2) but the pymarc/**init**.py file specifies it as 2.8.1 which is wrong. You've mentioned this in your comment in the setup.py file as well `# remember to update pymarc/__init__.py on release!`

[2011-10-13 12:34] #17 closed, assigned to nobody

[2011-10-28 13:33] gugek opened #18 "unicode leader fields"
I ran into an issue with serializing from marc_xml into marc21 transmission. I get a UnicodeDecode error if any of my data is beyond the default encoding (ASCII) because there is a mix of types. This could also be an issue if someone modifies the leader through record.leader and somehow puts in a unicode object instead of an ordinary string object. It doesn't show up in the other as_marc tests bec

[2011-11-07 21:19] EdwardBetts opened #19 "Problem reading alternative graphic character at end of field"
I've hit a problem that PyMARC doesn't handle the alternative graphic character set properly if they it appears at the end of a field. The example code below gives "IndexError: string index out of range"

from pymarc import marc8_to_unicode

assert marc8_to_unicode('CO\x1bb2\x1bs') == u'CO\u2082'

[2011-12-09 02:56] #10 closed, assigned to nobody

[2012-03-08 17:20] godmar opened #22 "documentation bug field.del_subfield vs field.delete_subfield"
Documentation doesn't match code, creating confusion for programmers:

[code]

[2012-03-08 18:32] godmar opened #23 "handling MARC21/ANSEL encoded records with wrong leader[9]"
If I have a MARC record where leader[9] == 'a' but that contains ANSEL-encoded data, which is read with a MarcReader where to_unicode=False, then pymarc fails to write the record because the presence of leader[9] forces UTF8 encoding, which blows up for ANSEL strings.  See https://github.com/mbklein/pymarc/commit/ff312861096ecaa527d210836dbef904c24baee6

(Of course, if the record is read with 'to_

[2012-03-08 20:38] #22 closed, assigned to nobody

[2012-03-22 19:50] #19 closed, assigned to nobody

[2013-01-21 14:10] miku opened #30 "JSON serializer multiple subfields bug"
The JSON serializer [written by me :|] contains a bug, that will throw away multiple subfields and only keep one.

I'll shortly submit a pull request that fixes this issue.

[2013-01-21 18:41] #30 closed, assigned to nobody

[2013-03-26 16:31] bohyunkim opened #35 "Unable to fetch setuptools file - link broken"
I ran setup.py install but it doesn't seem to be able to fetch the required file  - setuptools version 0.6c5 . The designated link gives me 404: http://pypi.python.org/packages/2.7/s/setuptools/setuptools-0.6c5-py2.7.egg

Help? Thx!

[2013-03-27 19:02] #35 closed, assigned to nobody

[2013-07-16 13:01] edsu opened #38 "readthedocs"
It would be nice to get pymarc up on readthedocs.

[2013-07-27 17:55] pjw91 opened #39 "MARC21 *line-format*"
pymarc can handles the standard MARC21 in ISO2709(raw MARC).

However I got a strange format of MARC, which is called **line-format** by the utility `yaz-marcdump`.

How could I parse this marc with pymarc??

Following is the marc(with some char in Chinese), or on https://gist.github.com/mail6543210/6095688
File can be seen as UTF-8.

[code]

[2013-07-27 17:56] #39 closed, assigned to nobody

[2013-11-15 13:58] nahuelange opened #42 "as_marc() should throw exception on fields that are too big"
I use pymarc to generate iso2709 of records from internals datas.
When I read my records generated by pymarc (even with pymarc!) I have directory offset problem.
With yaz-marcdump the error is:
(Directory offset 204: Bad value for data length and/or length starting (394\x1E##\x1Fa9782))
(Base address not at end of directory, base 194, end 205)
(Directory offset 132: Data out of bounds 51665 >= 150

[2014-01-23 22:16] acdha opened #45 "Backwards compatibility change between 2.8.9 and 2.9.0"
I noticed some tests failed with a [very simple test case](https://gist.github.com/8587887) between PyMARC 2.8.9 and 2.9.0:

[code]

Using this data file: https://github.com/loc-rdc/wdl/blob/master/importers/tests/data/LOT10340.mrc the output looks like this:

2.9+:

[code]

2.8.9:

[code]

[2014-01-24 09:51] #45 closed, assigned to nobody

[2014-05-28 15:32] pjw91 opened #57 "Move `test` into `pymarc`"
Then, there will not be a `test` folder in the `site-packages`, it will appears in `site-packages/pymarc/test`

What you need to do are:
`git mv test pymarc/`
`sed -i "s/'test\//'pymarc\/test\//g" pymarc/test/*.py`
`sed -i "s/'test'/'pymarc\.test'/" setup.py`

[2014-05-30 21:15] #57 closed, assigned to nobody

[2014-07-15 16:04] azaroth42 opened #59 "Field object has no attribute subfields"
For a 001 field, which doesn't have any subfields, trying to fetch them generates an exception rather than returning empty list.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.6/site-packages/pymarc-3.0.1-py2.6.egg/pymarc/field.py", line 155, in get_subfields
    for subfield in self:
  File "/usr/lib/python2.6/site-packages/six-1.7.3-py2.6.egg/s

[2014-10-09 20:41] eshellman opened #65 "six import fails"
for whatever reason, the following statement fails inside a django 1.4.5 project (python 2.7.5)

from six.moves import zip_longest as izip_longest

(in record.py)

[2014-10-22 06:45] wearp opened #67 "helper methods for new 3XX RDA fields?"
RDA has brought with it three new fields which are mandatory according to the standard. They are

336 - Content Type
337 - Media Type
338 - Carrier Type

As they will (or should) appear in every RDA record, would helper methods for `record.py` for these be of interest to pymarc? Something along the lines of `content_type(self)`, etc.

Let me know and I'd be happy to submit a pull.

[2014-11-24 22:57] jermnelson opened #69 "Side effect bug with Record.as_marc() method"
I've been dealing with a problem related to a string vs. byte side-effect in a MARC record leader when using the as_marc() method when processing both new and existing MARC records in Python 3.  The bug can be replicated as follows:

[code]

   <class 'bytes'>

Any subsequent processing on the record will cause errors, most significantly when trying to convert the record to MARC XML:

[code]

The

[2014-12-03 16:57] #69 closed, assigned to nobody

[2014-12-18 21:11] acorbi opened #71 "Unable to read marc21 file exported from NewGenLib"
I take a file exported from NextGenLib (http://verussolutions.biz/web/content/download) software which contains around 1500 records in MARC21 format. When i try to open it using pymarc 3.0.3 following error gets thrown:

<code>
Traceback (most recent call last):
  File "convert_marc21_records.py", line 18, in <module>
    for record in reader:
  File "/Users/alexcorbi/Developing/ODC/venv/lib/pytho

[2015-03-01 01:27] Wooble commented on #38
There is a pymarc on readthedocs, but it's from a fork that's way behind this repo. I don't know if it's even possible to reclaim the URL on RTD, but reaching out to the maintainer might be worthwhile?

[2015-03-01 03:11] edsu commented on #38
I think @kayiwa holds the keys to RTD?

[2015-03-01 11:42] kayiwa commented on #38
I deleted it. I haven't the bandwidth for that. I'll be happy to contribute however.

[2015-04-08 17:01] Wooble commented on #38
FWIW, https://readthedocs.org/projects/pymarc/ still says you own it.

[2015-04-13 17:34] edsu commented on #38
@kayiwa any chance you can help resolve this?

[2015-04-13 17:47] kayiwa commented on #38
I swear I deleted it last time. I've done so again.

[2015-06-25 21:48] #65 closed

[2015-07-27 14:13] danmichaelo opened #73 "API for working with XML data isn't very intuitive"
Having some xml data,
[code]
, I expected from the README example to be able to do something like

[code]

but instead I had to do

[code]

Determining the file type should be quite easy from reading the first characters of the file stream: xml if "<?xml", json if "{", plain marc otherwise.

Next I wanted to try to serialize a record to XML. The `Record` object has methods like `as_marc()`, `as_ma

[2015-07-27 14:36] edsu commented on #73
Yeah, that's a fair criticism. Still, you figured it out -- so maybe it's not so bad?

[2015-07-27 16:03] danmichaelo commented on #73
We all do ;) But then there's library systems…

Anyways, I won't be offended if you close this as "wontfix", but consider adding a short xml example to the README first. Might help save others some time.

[2015-07-27 16:11] edsu commented on #73
I'll leave this open until one of those things happen. Thanks @danmichaelo !

[2015-08-05 19:04] pertz opened #74 "UnicodeEncodeError occuring in 3.0.4 but not 2.9.2?"
I’ve run into a problem that appears to be related to upgrading pymarc from version 2.9.2 to version 3.0.4. I have Python version 2.7.5 and version 2.0.4 of PyZ3950 installed on CentOS Linux 7. The error message is:

Traceback (most recent call last):
  File "./recordtest.py", line 15, in <module>
    print "marc_record:[%s]" % marc_record
  File “/_path_to_/lib/python/site-packages/pymarc/record.

[2015-08-05 20:08] Wooble commented on #74
This seems to only affect Python 2; I can print this file from Python 3 fine (well, except on Windows, where it can't print because of the combining diacritic in question not being in cp-1252...)

When loading from a file, instead of with zoom, I get:

Traceback (most recent call last):
  File "unicodetest.py", line 6, in <module>
    print(record)
  File "/private/tmp/venv/lib/python2.7/site-pack

[2015-08-06 13:35] pertz commented on #74
Interesting. I had not tried replicating the problem or running the test script with Python 3. Unfortunately, I need to stay with Python 2.7.x, for now, but it's good to know that moving to Python 3 might remedy a few issues. Thanks Wooble.

[2015-08-06 20:10] pertz commented on #74
I applied the changes from the diff and am no longer experiencing the error. Thanks for your help, Wooble. Much appreciated.

[2015-09-05 05:34] jimnicholls opened #76 "Extend Writer with JSONWriter, XMLWriter and TextWriter"
The only subclass of Writer we have is MARCWriter.

I would like to create a few more subclasses of Writer.
* JSONWriter that outputs an array of MARC-in-JSON objects.
* XMLWriter that outputs a MARCXML collection.
* TextWriter that outputs str(record), with a blank link between records.

My motivation here is so I can code to the generic Writer interface and plug in different writers as need be.

[2015-09-05 06:10] jimnicholls opened #77 "Creating a Record with a particular leader"
I'm exporting records from our library system and I need to replicate the leader field where it makes sense to do so. Record's API does not allow me to do that.

Can I propose the addition of a leader keyword argument to __init__ of Record? This argument would default to `' ' * LEADER_LEN`.

Leader positions 5 through 8 and 17 through 19 would be taken from the leader argument. The other leader po

[2015-09-05 18:45] edsu commented on #76
Ok, that sounds cool :-)

[2015-09-05 18:46] edsu commented on #77
:+1:

[2015-09-06 00:32] jimnicholls opened #79 "test_url is failing"
test_url in test/reader.py is failing because the resource http://inkdroid.org/data/marc.dat doesn't exist anymore.

[2015-09-06 03:22] edsu commented on #79
I removed this moribund test on master.

[2015-09-07 13:27] #79 closed

[2015-09-07 13:28] #77 closed

[2015-09-07 18:43] edsu commented on #76
Just released as v3.1.4! Thanks for your work! :cake:

[2015-09-07 18:43] #76 closed

[2015-09-07 18:44] edsu commented on #74
This was just released as part of v3.1.4. Thanks for identifying the problem and fixing it!

[2015-09-07 18:44] #74 closed

[2015-09-07 18:45] edsu commented on #67
I guess that would be fine. I've been kind of -0 on those helper methods being in there, but I guess they aren't hurting anyone.

[2015-09-07 18:46] edsu commented on #59
I think this got fixed when #32 was merged. Please reopen if that's not the case.

[2015-09-07 18:46] #59 closed

[2015-09-07 18:47] edsu commented on #38
I'm not sure this matters much anymore.

[2015-09-23 08:18] fipsasmusen opened #83 "as_marc() should define default encoding in field"
For backwards compatibility it would be better to give a default encoding for as_marc in field.py like:

    def as_marc(self, encoding='utf8'):

[2015-12-17 20:50] gugek opened #84 "MARC-8 mapping (Eszett, Euro Sign, and some revisions)"
I came across some records in the wild which had the eszett in them and noted that the existing [`marc8_mapping.py`](https://github.com/edsu/pymarc/blob/master/pymarc/marc8_mapping.py) doesn't have a mapping for that character (UTF-8: U+00DF).

It looks like the LC Code Tables for MARC-8 mappings were updated in 2004: see https://memory.loc.gov/diglib/codetables/45.html which might explain how the

[2015-12-17 21:01] edsu commented on #84
Hi @gugek, if you can send a pull request for these changes I will pull them in. The best we can do is try to do the right thing now I think.

[2015-12-18 15:36] edsu commented on #84
Fixed in f0faf74e36509e326b217d0cf20e334768d6d009

[2015-12-18 15:36] #84 closed

[2016-02-23 02:59] edsu opened #87 "'module' object has no attribute 'python_2_unicode_compatible'"
**an [email](https://groups.google.com/forum/#!topic/pymarc/iEUvHQmbghc) from hf36@nyu.edu**

I've just started to work with python/pymarc on a new computer and used pip to install pymarc (using Python 2.7.10), but when I've just tried to run a python script, I get the following error for the "import pymarc" line:

[code]

I assume I've something out of date or such, but have no idea how to troubl

[2016-02-23 13:57] Wooble commented on #87
Can you do the following:

[code]

(I *think* that should be in any version of six you'd get installed, though... You don't have a random file named "six.py" lying around, do you?)

[2016-03-09 13:23] Wooble opened #88 "Py3: can't print record with raw fields"
`pymarc.field.Field.__str__()` uses native str as the arguments to `self.data.replace`, but in a RawField, `data` is a bytes object, so we get `TypeError: 'str' does not support the buffer interface`

`RawField` should probably have its own implementation of `__str__`, although it's unclear to me how we should represent a field with an unknown encoding as text...

[2016-04-25 12:38] viking2917 opened #89 "Trouble reading Harvard Open Metadata MARC files (UTF-8 related?)"
I am trying to use pymarc to read the [Harvard Open Metadata MARC files](http://library.harvard.edu/open-metadata#Harvard-Library-Bibliographic-Dataset-Use-Terms).

Most of the files process ok but some (for example ab.bib.14.20160401.full.mrc) produce errors when processing. The error I am getting is:

[code]

The driver code I am using is:

[code]

Other MARC processing tools (e.g. MarcEdit seem

[2016-04-25 13:25] Wooble commented on #89
Can you isolate a single record that's displaying this problem?

From the traceback it appears that there's a subfield code that's not ASCII, which is forbidden by the MARC21 spec.

(If such records exist in the wild, though, pymarc should probably have a way to deal with them. This is one area where there's currently no workaround as far as I know...)

[2016-04-25 13:29] viking2917 commented on #89
Thank you! Working on isolating the record...it's unfortunately a massive binary file. :(. But from the python debugger, it  does look like you are correct that there's unicode chars in a subfield, e.g.

[code]

[2016-04-25 14:10] viking2917 commented on #89
Here's what the record looks like dumped to a text file by MarcEdit. It does indeed look like the 040 record has unicode in the subfield code.

If the MARC21 spec indeed forbids this, then this issue should probably be closed, although more tolerant error handling might be helpful.

[code]

[2016-04-25 14:49] edsu commented on #89
It looks like the record is coded as containing Unicode (leader position 9). I forget, why are you using utf8_handling='ignore'?

[2016-04-25 15:15] viking2917 commented on #89
I was using 'ignore' because otherwise the processing would stop when it encountered encoding difficulties. (aside: I wonder if better error handling would be to skip offending records and keep going?). Right now when it throws an exception the script halts. (Caveat: I am a python newbie and likely doing something wrong).

[2016-04-25 15:26] gugek commented on #89
@viking2917: right sadly the ignore parameter doesn't ignore everywhere in the MARC field, and also doesn't ignore in areas where UTF-8 isn't permitted.

ALEPH (the ILS Harvard is on) will let you save a unicode character to a subfield.

I have a branch somewhere that does some of this error handling.this for another project

In `record.py`:

    for subfield in subs[1:]:
        if len(subfield)

[2016-04-25 15:28] viking2917 commented on #89
@gugek  Thank you! Will give that a go.

[2016-04-25 15:37] Wooble commented on #89
That sounds like a reasonable patch to me (of course, it wouldn't have helped here, with utf8_handling='ignore'; I can't think of a good way to use ignore here since it implies ending up with the subfield code completely blank.)

Decomposing the "ā" and throwing away diacritics would probably do the right thing in this particular case, since I can't see how that's possibly supposed to be anything

[2016-04-25 16:06] viking2917 commented on #89
Yes, 'replace' is probably the right option - I was happy to simply discard records with errors so was using 'ignore', but with 'replace' and this patch, I seem to be able to get pretty much everything.

[2016-04-25 20:44] jimnicholls commented on #89
Not that this helps anyone usefully progress, but I did want to point out that this in fact not a valid MARC record.

According to the [MARC 21 Specification](https://www.loc.gov/marc/specifications/specrecstruc.html):

*subfield code* "The two-character combination of a *delimiter* followed by a *data element identifier*. [...]"

*delimiter* "ASCII control character 1F(hex) [...]"

*data element

[2016-04-26 15:24] viking2917 commented on #89
I am not sure how aggressively the Harvard Open Metadata project is, but
I've reported the issue in case someone there is actively maintaining it.
(It is a treasure trove of open source book metadata....)

Thanks.

Mark

On Mon, Apr 25, 2016 at 4:44 PM, Jim Nicholls <notifications@github.com>
wrote:

--
Get great book recommendations at The Hawaii Project
<http://www.thehawaiiproject.com> - my new

[2016-07-21 12:44] Wooble commented on #38
The name does seem to be available on readthedocs now... I know I'd find it helpful to have generated API documentation online; I find myself reading the source to find a lot of stuff.

I'd be happy to work on the autodoc configuration and send a PR, but I don't want to register the project on readthedocs myself...

[2016-07-21 13:25] edsu commented on #38
@wooble that would be awesome! why don't you want to register it?

[2016-07-21 13:41] Wooble commented on #38
Mostly because I think the way rtfd works would require it to use my fork, and then if it's not kept up to date with yours the docs won't match what is actually released. Like before. :)

[2016-07-21 14:17] edsu commented on #38
This reminds me I've been meaning to ask you if you want to help maintain pymarc as a collaborator on the repository. You have contributed so much to the code and the community side I was wondering if you would be willing.

[2016-07-21 15:14] Wooble commented on #38
That works; thanks. I was able to register the rtfd project to point to this repo now; it just needs the webhook activated.

(Also, the docstrings could use some cleanup; the generated docs aren't all that pretty but they beat opening the source to find things anyway)

[2016-07-21 15:33] edsu commented on #38
Yeah, having them public will be a good incentive to clean them up. I'll look into the webhook.

[2016-07-21 15:36] edsu commented on #38
I think I just activated the webhook ...

[2016-07-21 16:25] edsu commented on #38
Ok, it looks like it's working :-) now we need better docs, heh.

[2016-07-21 16:25] #38 closed

[2016-08-10 22:31] josepablog commented on #89
I know this is an old issue, but I'm having the same problem than @viking2917  ...

I'm trying to parse the Harvard Open Metadata db, and I'm running into exceptions. Is there any patch that I could do? My code breaks and I cannot catch the exception to skip the record.

[2016-08-11 12:26] Wooble commented on #89
Can you isolate a record that displays the issue and attach it as MARC21? (I'd prefer to avoid trying to manually create a bad record by hand for testing, and I don't think my ILS can create one nor can I do it programmatically in pymarc :) )

[2016-08-11 12:29] Wooble commented on #87
(This was a problem with the setup.py not specifying a minimum version of `six`, and was fixed in version 3.1.2)

[2016-08-11 12:29] #87 closed

[2016-08-11 12:39] Wooble commented on #18
This test now passes on python 2 (the whole concept doesn't make sense in python 3; the leader needs to be bytes and it shouldn't be possible for a user of the library to accidentally stick in the wrong type because of the strict bytes/str separation in py3.

[2016-08-11 12:39] #18 closed

[2016-08-11 12:47] Wooble commented on #23
This seems to be no longer an issue because of how the py3 port required discipline about encodings and types... If anyone can find a way to still reproduce this, please reopen.

[2016-08-11 12:47] #23 closed

[2016-08-11 15:00] viking2917 commented on #89
@josepablog I did finally get around this problem. Here's how I got around it:

First I altered record.py (new file attached), to add some error handling.
[record.py.txt](https://github.com/edsu/pymarc/files/413498/record.py.txt)

Instead of this driver from the github page:

[code]

I changed the driver to this: (basically, importing codecs and sys.). As I recall I had to install
[code]

On my ma

[2016-08-12 22:19] josepablog commented on #89
@Wooble  the file is huge! And my understanding of Marc-21 is extremely limited

I'll give a try to @viking2917 's solution, and hopefully it would work...

Thank you to both!

[2016-08-14 17:55] viking2917 commented on #89
(Aside: I traded some emails with the good folks at Harvard and they said something to the effect that there are in fact the occasional invalid record due to the large, distributed nature of their libraries and data. They did correct the issues I brought to their attention but I think it's a good idea to protect against invalid data where possible.)

[2016-08-15 03:13] josepablog commented on #89
@viking2917   I downloaded the new Harvard db, and I don't have those problems if I use the utf8_handling='ignore' flag ...

[2016-08-15 17:09] viking2917 commented on #89
@josepablog Interesting. That flag helped me get further but didn't solve all my issues. But glad it's working for you! Perhaps something has changed in the meantime....

[2016-08-15 17:19] josepablog commented on #89
I think I declared victory too early.

PyMarc still breaks for these files:

ab.bib.11.20160805.full.mrc
ab.bib.13.20160805.full.mrc
ab.bib.14.20160805.full.mrc

Wished I knew how to isolate the record, to get some help from @edsu  : )

[2016-08-15 17:22] edsu commented on #89
So it sounds like we might need a way to catch all exceptions when reading a record, and keep moving through the records?

[2016-08-15 18:25] josepablog commented on #89
@edsu Yes, I think so

This is an example of the exception I get (I'm using utf8_handling='ignore', which I don't know if it makes sense, but reduces the number of errors):

  File "//anaconda/lib/python2.7/site-packages/pymarc/reader.py", line 97, in __next__
    utf8_handling=self.utf8_handling)
  File "//anaconda/lib/python2.7/site-packages/pymarc/record.py", line 74, in __init__
    utf8_handl

[2016-08-15 18:56] Wooble commented on #89
It's fairly annoying to have to do it yourself, since it would require calling `next` manually instead of just using a for loop.

I don't think changing utf8_handling is likely to help if the problem is in the indicators or the leader. pymarc itself should probably have a way to recover from these better; personally I'm running my fork's "leader_encoding" branch in production because our database

[2016-08-25 15:02] cshintov opened #97 "Exception at the end of iterating through a marc file."
When I am Iterating through a marc file containing multiple MARC records, After the last record the following exception is raised.
Traceback (most recent call last):
  File "compare_marcs.py", line 320, in <module>
    pprint(compare_marc_files(exp, obs))
  File "compare_marcs.py", line 299, in compare_marc_files
    for exp_marc, obs_marc in izip(expected, observed):
  File "/home/shinto/shinto/v

[2016-08-25 15:54] Wooble commented on #97
It sounds like your file might be cut off before the end of the last record, or at least pymarc thinks so. How are you opening the file and creating the reader?

[2016-08-26 05:21] cshintov commented on #97
Hi I am opening the files using 'with' .
exp and obs are the two marc files.

with open(exp) as exp_marcs, open(obs) as obs_marcs:
        for exp_marc, obs_marc in izip(expected, observed):
                   do stuff

Thanks,
Shinto.

On Thu, Aug 25, 2016 at 9:24 PM, Geoffrey Spear <notifications@github.com>
wrote:

[2016-09-22 17:10] rlskoeser commented on #73
Seconding that reading xml is not intuitive.  Had to look at the test code and this issue before I got it to work.

[2016-10-21 12:44] deepPython commented on #87
I am facing the same issue while running django server. I am not using virtual environment. Also, six package is  on latest version in python. But  still getting the error, What am I doing wrong?

pip show six
---
Name: six
Version: 1.10.0
Location: /usr/local/lib/python2.7/dist-packages
Requires:
---
$python ~/django/mysite/manage.py runserver localhost
[1] 3913
$ AttributeError: 'module' object

[2017-02-03 17:45] phette23 opened #99 "Add "code4lib" topic?"
In the interest of collecting relevant projects to code4lib, could that be added to the repository as a [topic](https://help.github.com/articles/about-topics/)? It'll help people discover software during their GitHub searches.

[2017-06-02 07:43] Terrychung opened #102 "Backslash is printed in MARC file if the indicator is a space"
I have discovered that if the field object detect the indicator is a space, it will be converted as '\\\\'

            for indicator in self.indicators:
                if indicator in (' ','\\'):
                    text += '\\'
                else:
                    text += '%s' % indicator

The "\\" will be printed in the MARC file, another library such as Perl's MARC::Record will trigger i

[2017-06-02 09:12] edsu commented on #102
[This](https://github.com/edsu/pymarc/blob/master/pymarc/field.py#L72-L76) logic is only relevant for the MARCMaker format, or when you print a record as a string. Is this what you are doing? MARCMaker/Breaker [says, or really shows] that you need to use a backslash instead of a space.

[2017-06-02 09:19] #102 closed

[2017-07-26 16:05] edsu opened #103 "MARCMaker exception"
If you try to load a MARC record in MARCMaker format you get an obscure exception:

[code]

Something a bit more descriptive would be useful! pymarc does not support reading records in this format.

[2017-07-26 16:12] edsu commented on #103
Fixed in [7741c4de01c23b363cf6161750865d37cdee3e72]

[2017-07-26 16:12] #103 closed

[2017-08-08 13:00] aaronhelton opened #105 "Add encoding option to marcxml.record_to_xml"
Unless I am missing something with respect to the marcxml functionality, the record_to_xml function seems to return text encoded in us-ascii, which causes problems when systems are expecting utf-8 encoding. Tracing this issue to its source revealed that xml.etree.ElementTree.tostring takes an optional encoding parameter, which defaults to us-ascii. I am proposing to be able to pass an optional enc

[2017-08-08 13:09] edsu commented on #105
I'm curious what MARC based system you are using that rejected the record with the unicode character entities.

It seems to me that utf-8 should be the default so hard coding `ET.tostring(node, encoding='utf-8')` should be fine.

[2017-08-08 13:27] aaronhelton commented on #105
We're using Invenio, but I don't really know what the internals are doing, since I don't have access to the source code our vendor is maintaining.

It's not that the system rejected the unicode characters. It's that the output file ended up with a MIME encoding of us-ascii (as reported by the file --mime-encoding command), and the Invenio batch uploader module rejected it as not being encoded prop

[2017-08-08 14:24] edsu commented on #105
If you have time to put together a pull request for the change and an accompanying test I would be grateful.

[2017-08-10 20:03] aaronhelton commented on #105
This might cover it, but I admit I am still new to writing tests and may have taken the wrong approach.

https://github.com/dag-hammarskjold-library/pymarc/tree/marcxml-encode

[2017-09-14 17:58] Wooble opened #107 "field .indicators, indicator1, indicator2 confusion"
a pymarc.field.Field object has both a .indicators attribute (which is a list of 2 indicators), and .indicator1 and .indicator2 attributes, which are strings that are set initially to the same values as in indicators.

Field.__str__ uses the indicators list to determine what indicators to display in the textual format, while as_marc uses the individual attributes.

The upshot of this is that you i

[2017-09-18 14:01] Wooble opened #108 "Make leader mutable?"
It would be really convenient to be able to mutate the leader somehow.

I find myself writing `record.leader = record.leader[0:9] + 'a' + record.leader[10:]` when converting MARC-8 to UTF-8 to work around the leader being an immutable string, which is pretty ugly.

(On the other hand, I'm not all that sure this could be done in a way that's backwards-compatible with things that expect record.leade

[2017-10-16 17:00] pbnjay commented on #89
Also having this issue with USDA National Agricultural Library's marc21 downloads. Pymarc 2.9.2 handled these files fine on an old system.

I can share a ~60mb file from this distribution if that helps test issues.

[2017-10-17 10:06] edsu commented on #89
@pbnjay Yes, haring the data that can be used to demonstrate the problem is key.

On another note, I myself work with MARC records only rarely now. Does it make sense to move pynarc over to the code4lib organization account here on GitHub so it can be maintained/developed without me being a bottleneck?

[2017-10-17 12:01] Wooble commented on #89
(If you can isolate a single problem record instead of a 60MB file that would probably be better, though)

[2017-10-17 13:22] anarchivist commented on #89
In case it's useful, I previously had bodged together a permissive reader version of `pymarc.MARCReader`: https://gist.github.com/anarchivist/4141681

[2017-10-17 13:30] reeset commented on #89
I'm not sure how python does character reading, but for large sets like this, I'd always recommend taking them out of marc and putting them into xml.  You can't trust the encoding bits, and most ILS systems will do wonky things when exporting large sets (that you won't see with small sets).  Additionally, they violate MARC21 rules (but not the general ISO 2701 rule structure) so you cannot code ru

[2017-10-17 14:13] edsu commented on #97
That's an interesting way to do it. And by interesting I mean I have no idea what it does :-) Can you explain what's going on there?

[2017-10-17 14:37] edsu commented on #89
I would still like to have a test record to play with that demonstrates the particular problem we are dealing with.

I like @anarchivists idea of adding an option to pymarc.Reader. I'm going to open a new issue for that.

[2017-10-17 14:59] edsu opened #109 "A permissive MARCReader"
Over in #89 there has been a long discussion about working with invalid MARC data in the wild. I must admit I don't work with MARC much these days, so I had no idea people were running into so many problems processing large batches of MARC records.

Currently when pymarc runs into a structural problem in a MARC record it will throw an exception (RecordLeaderInvalid, BaseAddressNotFound, BaseAddres

[2017-10-17 15:23] pbnjay commented on #89
I essentially just commented out all the instances of `.decode('ascii')` in `record.py` and it works fine now (line 307 was my particular exception also, but I just did them all).

I uploaded two problem files here: https://www.dropbox.com/sh/f4w7nv6e5ghnpmr/AACXD4L-GGqPhbc1YexBc6iea?dl=0 Since they're from the USDA they should be public domain, but just in case I'll unshare them once you have a c

[2018-03-12 20:40] nemobis opened #114 "MARCReader obscure warning: couldn't find 0xa0 in g0=66 g1=69"
Not all, but a good portion of the records in the associated mrc file, when read, produce the warning "couldn't find 0xa0 in g0=66 g1=69". Is this expected?
[code]
[IE001_MIL_EL_00017104.zip](https://github.com/edsu/pymarc/files/1804473/IE001_MIL_EL_00017104.zip)

[2018-03-13 17:21] nemobis commented on #114
Ah, the input is UNIMARC. Does this make the report invalid?

[2018-03-13 21:10] edsu commented on #114
I didn't think UNIMARC was a problem. Is that the only error you see? Perhaps a codepoint was added to a MARC-8 character set that pymarc doesn't know about yet? It would sadden me a great deal to learn MARC-8 was still being actively developed.

[2018-03-13 21:17] nemobis commented on #114
I don't think our data is so advanced! It might just be some control character entered by mistake.

[2018-03-13 21:24] edsu commented on #114
Actually it looks like pymarc doesn't have any character mappings for g0=66 or g1=69.

https://github.com/edsu/pymarc/blob/master/pymarc/marc8_mapping.py

Depending on what you are doing (a one off, or part of a workflow) you might want to consider converting your data to utf-8 with [yaz-marcdump](https://software.indexdata.com/yaz/doc/yaz-marcdump.html) and then work with it from python?

[2018-03-13 21:30] nemobis commented on #114
Ed Summers, 13/03/2018 23:24:

Thank you a lot for the suggestion. It's been a while since I last used
yaz so I had neglected to consider it. I'll let you know how it goes (if
it's relevant for this report; feel free to close as invalid!).

[2018-03-15 19:04] nemobis commented on #114
After `yaz-marcdump -i marc -f marc8 -t utf8 -o marc` I get
[code]

[2018-03-15 20:53] edsu commented on #114
That's weird. Why would it be processing MARC-8 if it had been converted to UTF-8?

[2018-04-06 09:45] zurek11 opened #115 "YAZ - collecting data and printing them with PYMARC"
Hello. I have simple data collected from YAZ commands.

`yaz-client -m catalogue.dat`

I am connecting to library which has MARC21 format and UTF-8 encoding.
I am saving records to catalogue.dat file. It's CZECH library so titles are with special characters for example Ř or Ě etc. when i will run this code:

[code]
Console will print this:

[code]

So basicly there are two issues. First why it pri

[2018-04-24 19:46] nemobis commented on #114
Smaller test case attached, from http://id.sbn.it/bid/BVE0764705

[code]

Note the UNIMARC has `0` in Leader/09, not a space nor `a` (cf. https://www.loc.gov/marc/bibliographic/bdleader.html ).

None of the yaz-marcdump conversion options which do something seem to help:
[code]

The yaz-marcdump default conversion to UTF-8 appears correct in itself (cf. https://lists.uni-bielefeld.de/mailman2/unib

[2018-05-18 15:42] katrinleinweber opened #117 "Convert README to PyPI description?"
https://pypi.org/project/pymarc/#description says: `The author of this package has not provided a project description`. Can this be prevented by displaying [`README.md`'s content](https://github.com/edsu/pymarc#readme) there? Or some of it? Maybe even in a PyPI-standard way?

[2018-05-18 15:47] edsu commented on #117
Ok! I was doing this recently for another project.

[2018-05-18 16:11] edsu commented on #117
Does this look better?

https://pypi.org/project/pymarc/

[2018-05-18 16:15] edsu commented on #117
Just in case you are curious...

The trick I learned over [here](https://github.com/DocNow/twarc/pull/225) from @hugovk is to pull the markdown in as `long_description` and set `long_description_content_type="text/markdown"` ... then it's necessary to use [twine](https://pypi.org/project/twine/) to do the upload to PyPI instead of `python setup.py upload`.

[2018-05-18 16:26] #117 closed

[2018-10-26 03:06] xingzhicn opened #121 "How to analyze the bad.dat"
I have a format that needs to be parsed, like the structure test/bad.bat, but I didn't find the demo in your code.

[2018-11-17 20:02] timClicks commented on #109
Strong +1 from me. I deal with MARC21 files from repositories, so it's basically impossible for me to fix the problem at source. Its rare that I would like to stop processing completely if I'm generating an export.

[2018-12-03 16:52] cclauss opened #127 "New release to PyPI to make Python 3 support official?"
https://github.com/edsu/pymarc/blob/master/setup.py#L24 should cause PyPI to register that both Python 2 and Python 3 are supported.

[2018-12-03 17:24] Wooble commented on #127
I've added python_requires in #128 (and removed some useless pre-2.6 conditional deps) which might be nice to have before a new release.

[2018-12-03 19:04] edsu commented on #127
.Merged and released as [v3.1.11](https://pypi.org/project/pymarc/) thanks for your help as always.

[2018-12-03 19:04] #127 closed

[2018-12-05 08:53] cclauss commented on #88
Is this issue resolved?

[2018-12-06 17:00] Wooble commented on #88
It's not, and looking deeper into it I can't see a good way to represent an arbitrary byte in MarcBreaker (http://www.loc.gov/marc/makrbrkr.html#mechanics) format especially since "\" means "space" in the 00x fields, so "\x<some hex>" doesn't work. Of course, these fields should be all ASCII, but the whole point of RawField is that sometimes they're not in the real world.

I suppose I could see ho

[2018-12-06 21:15] Kerang opened #129 "Corrupt / Incompatible data: couldn't find 0x20 in g0=83 g1=69"
I was getting the error: couldn't find 0x20 in g0=83 g1=69

That error eventually, led me down the right path, to the fact that the data was corrupt / was in the wrong encoding type. It should have shown Pi Squared, but instead it showed some weird characters.

An error that says something about unable to parse characters would have been helpful. I get that may be what it's saying, just in a more

[2018-12-07 12:01] #129 closed

[2018-12-07 12:01] edsu commented on #129
Great idea, thanks for the suggestion. These things matter.

[2018-12-12 23:39] Kerang commented on #114
[code]
I tested your data and found that setting "to_unicode=True, force_utf8=True" when reading the file removes all of the "couldn't find errors."

[2018-12-13 00:12] Kerang commented on #115
I believe it defaults to marc8 encoding, try changing your with open line to:
`    with open('catalogue.dat', force_utf8=True, 'rb') as fh:`

From the MARCReader class docstring in the marc8.py file:

Not sure, if that's the particular problem you're having, but that might help.

[2019-01-11 12:20] Wooble opened #130 "Add subfields at an arbitrary position"
from the mailing list:

This shouldn't be difficult to implement, and seems a lot nicer than manipulating the internal heterogeneous list of code, data, code, data manually.

[2019-02-27 23:03] edsu commented on #107
Fixed by #131

[2019-02-27 23:03] #107 closed

[2019-02-27 23:15] edsu commented on #107
Thanks for tending to this @wooble -- it was a thorny bit of code that could have led to some undesirable behavior.  I just released this as part of v3.1.12

[2019-02-28 12:18] Wooble commented on #107
@edsu Yeah, fortunately I only messed up a small batch of records in production before noticing the incorrect indicators, debugging for a while, and being reminded of this issue which I'd totally forgotten reporting. Seemed like a good idea to fix it before the next time I forget and break a lot more records :)

[2019-04-29 08:08] nichtich opened #134 "Document use of MARCXML with an example"
We are still trying to find out how to parse and serialize MARCXML. I then stumbled upon #73 (make it simpler) but one or two examples in the documentation may be enough to start with:

* how to read a full MARCXML file
* how to read a stream of records from  a MARCXML file (maybe [this helps](https://github.com/scriptotek/mc2skos/blob/master/mc2skos/reader.py))
* how to serialize MARC records to

[2019-04-30 14:46] edsu commented on #73
Just out of curiosity would people be ok with:

[code]

creating an in memory array for all the records, and then allowing the iteration to start? I think it would be preferable if it did function as an iterator, but I'm not quite sure how that would combine with the SAX parsing that's going on.

[2019-04-30 14:53] edsu commented on #134
Sure, I'd be happy to merge those. Although the referenced ticket, which I've intentionally left open, makes it sound like there could be a preferable API for reading/writing XML?

[2019-04-30 14:55] edsu commented on #134
@nichtich do you know if [lxml.etree.iterparse](https://lxml.de/api/lxml.etree.iterparse-class.html) reads the entire document into memory, and then iterates over that?

[2019-04-30 15:51] edsu commented on #134
@nichtich Will this [new documentation](https://github.com/edsu/pymarc#json-and-xml) help clarify the current state of affairs with XML and JSON? It can always get updated if there does turn out to be progress on #73. If you have any suggestions for improving it please send them along.

[2019-05-01 08:02] nichtich commented on #134
@edsu Thanks for the new documentation that's very helpful, I did not know about `map_xml`. Writing XML is possible nevertheless. The following is possibly no beautiful Python but should work:

[code]

[2019-05-01 17:22] edsu commented on #134
That would be better expressed in a separate pull request. If the documentation suffices for now I'm going to close this.

[2019-05-01 17:22] #134 closed

[2019-07-04 05:53] souzaluuk opened #136 "Correct the readme to avoid new errors"
- **JSON**

  I had a problem with MARCReader in the JSON section.
  In the `record = MARCReader ('test/one.dat')` line I get:

  `TypeError: a bytes-like object is required, not 'str'`.

- **XML**

    In the `records = parse_xml_to_array(open('batch.xml'))` line, file not found.

[2019-07-04 06:24] souzaluuk commented on #136
Is possible use JSONReader to get objects Record() type?

If not, could I try?

[2019-07-04 22:20] souzaluuk commented on #130
Are you still interested in this?
I can do?

[2019-07-05 13:06] #136 closed

[2019-07-05 13:07] #130 closed

[2019-07-05 13:07] Wooble commented on #130
I don't even remember why I wanted this anymore, but thanks! :)

[2019-07-07 23:18] souzaluuk commented on #108
Maybe go to the list type and use the python getter / setter methods to make it easier.
But I do not know about the compatibility of the idea with the other versions of python.

[2019-07-08 15:07] edsu commented on #108
A list would seem to make more sense. We could consider a new major version of pymarc in order to break backwards compatibility.

[2019-07-08 15:29] souzaluuk commented on #108
I can try, so we can see the best way.
What do you think?

[2019-07-08 17:34] Wooble commented on #108
I think a list makes it harder to get at the pieces of the leader that use more than 1 character of the string.

I suspect a method would work better, although I don't have a good suggestion for a name or even the API.

MARC::Record solves my particular use case by having $record->encoding('UTF-8') set leader[9] to "a" and $record->encoding('MARC-8') set it to " ", although it's got nothing for ch

[2019-07-31 15:12] jayvdb opened #140 "License"
setup.py says "BSD License" but I can not find anything more precise that this.

Which license is this repository?  Could you create a LICENSE file so that tools can automatically detect the license.

[2019-07-31 15:17] Wooble commented on #140
It does link to https://opensource.org/licenses/bsd-license.php which is explicitly the 2-clause BSD license but I agree it's probably a good idea to have a LICENSE file in the repo itself.

[2019-07-31 15:28] jayvdb commented on #140
Thanks.  I am packaging this at https://build.opensuse.org/package/show/home:jayvdb:py-new/python-pymarc , and it is otherwise good, but I know the maintainers will complain about the license.

[2019-07-31 15:32] edsu commented on #140
I'd be open to changing it to another open source license if it makes it easier to package up. I'll add the LICENSE file to make things more explicit.

[2019-07-31 15:36] jayvdb commented on #140
It can be any OSI license, as long as it isnt ambiguous.  And the LICENSE file is the critical bit, because packaging tools put that file in a different directory than the README.  In rpm .spec files, there is a %doc macro and a %license macro, and in openSUSE the policy is now that both are required.

[2019-07-31 15:37] #140 closed

[2019-07-31 15:40] edsu commented on #140
Does this need to be on PyPI or will GitHub suffice for now?

[2019-07-31 15:43] jayvdb commented on #140
GitHub is fine.  Thanks so much.

[2019-07-31 16:58] edsu commented on #140
@jayvdb Thank you!

[2019-08-02 01:22] jayvdb commented on #140
Submitted for inclusion into openSUSE main repos https://build.opensuse.org/request/show/720333

[2019-10-07 08:47] scarabeusiv opened #142 "Tests fail on python 3.8"
As the python now sorts stuff by default there are now two tests failingn if one runs them on python 3.8:

[code]

The content seems the same, it just oredrs stuff differently so the assertion is no longer True.

[2019-11-28 17:35] petrus-v commented on #109
Hi ! I'd like to help on this issue, I'll create a PR in few days, do you have any contribution guide lines to know ?

[2019-12-01 14:17] edsu commented on #109
@petrus-v [PEP-8](https://www.python.org/dev/peps/pep-0008/) and including unit tests (with test data if necessary) will definitely help move PRs along.

[2019-12-05 21:32] #142 closed

[2019-12-06 14:22] Wooble commented on #109
I don't know if there's anything that could be done to be even more permissive in more places, but I think #144 pretty much covered this, so closing...

[2019-12-06 14:22] #109 closed

[2019-12-11 18:05] tfmorris commented on #114
I think 66. (0x42) & 69. (0x45)  are the actually default character sets:

per: https://www.loc.gov/marc/specifications/speccharmarc8.html#field066

Based on the comment above: https://github.com/edsu/pymarc/issues/114#issuecomment-446785726
it sounds like the MARC file contains UTF-8 encoded characters.

[2020-01-07 13:26] herrboyer commented on #108
Hi, we're facing the same kind of issue right now, not blocking at all, but I was wondering about creating a *maybe backward compatible* `Leader` object like this one :

[code]

The idea would be to use it in Record self.leader = Leader(leader[0:10] + '22' + leader[12:20] + '4500'). It should be almost backward compatible with the *leader as a string* and provide helpful getters & setters to manip

[2020-01-08 10:09] edsu commented on #108
I really like this proposal @herrboyer. I'm curious to know what others think. Do you want to prepare a pull request?

[2020-01-08 14:21] Wooble commented on #108
I sort of feel like just replacing the leader with a bytearray would be cleaner, although either way things are going to break :(

[2020-01-08 14:28] herrboyer commented on #108
Thanks for your feedback.

We'll quickly see how things will go as soon as I find some time to make a PR.

[2020-01-08 17:32] edsu commented on #108
@Wooble I actually don't see how much will break with @herrboyer's proposal. Does something pop out at you?

[2020-01-08 17:42] Wooble commented on #108
My example workaround code in the original message in the issue, for one thing, although that one could be fixed by overriding __add__ and __radd__ on the Leader object. (Also it would be silly to be doing that anymore once the leader is mutable, but legacy code breaking is still annoying even if it's breaking because it's an ugly hack that is no longer necessary.)

Anything that just does a naive

[2020-01-08 17:55] edsu commented on #108
Good points, thanks @Wooble. So whatever the change it will probably be a major version change if we can't guarantee backwards compatibility.

[2020-01-08 18:06] herrboyer commented on #108
As you guessed @Wooble serialization was broken but easily fixed, let me now what you think of the PR.

[2020-01-08 19:06] herrboyer commented on #108
`record.leader = record.leader[0:9] + 'a' + record.leader[10:]` will work as expected, except `record.leader` would not be a `Leader` object anymore, but a simple string, which probably won't matter much on legacy code, don't you think @Wooble ?

I tried to do something about it but overriding add/radd won't solve it, as a slice returns a string not the Leader itself.

[2020-01-08 20:40] Wooble commented on #108
Oh, right, you'd have to make the slicing return a weird partial Leader object for that to work, and that would definitely be going too far...

[2020-01-09 18:21] edsu opened #147 "v4.0.0?"
Given the recent changes to the leader, I was thinking that a new major release was warranted, v4.0.0. Are there any other major changes we might want to consider as part of this release, or should we just go for it?

[2020-01-09 18:25] edsu commented on #147
One thing i was wondering about, given the fact that more people have contributed to the project than are listed in the [copyright statement](https://github.com/edsu/pymarc/blob/master/LICENSE), is whether it might be good to move the code to being in the Public Domain and not asserting copyright of any kind. What do people think about that, especially @gsf, @anarchivist and @Wooble?

[2020-01-09 18:47] gsf commented on #147
I'm not up to date on the latest moods around licensing, so don't know if there are negatives around going public domain, but I hereby relinquish my copyright claim if you decide to do so.

[2020-01-09 18:54] anarchivist commented on #147
I'm all for a public domain  but I would ask us to consider an explicit license or declaration like CC0 or the Unlicense. We could also consider [0BSD](https://opensource.org/licenses/0BSD) along with an explicit copyright waiver.

[2020-01-09 18:55] anarchivist commented on #147
I also relinquish my copyright claim.

[2020-01-09 19:28] herrboyer commented on #147
@edsu maybe it could be time to announce the end of py2 support ? For now by just updating the readme/docs/setup.py/travis.yml, and, *one day*, do a big cleanup (linting, proper typing, no more six, etc.) that will definitely break py2 compatibility.

[2020-01-09 19:41] Wooble commented on #147
same; I have no strong opinion either way as long as whatever we do doesn't make it suddenly hard for some subset of our users to keep using the library. (IANAL but I've heard vague things about public domain not being a thing in some jurisdictions?)

[2020-01-09 19:55] edsu commented on #147
@Wooble yes, I think that's an argument for using CC0 as @anarchivist suggested. Thanks everyone for being open to exploring this.

@herrboyer do you think now is the time to lint and type, and remove six?

[2020-01-10 07:53] herrboyer commented on #147
It's always time to lint !

I think a combination of [flake8](http://flake8.pycqa.org/en/latest/) + [flake8-docstring](https://pypi.org/project/flake8-docstrings/) + [black](https://github.com/psf/black) would provide a clean base for future development.

I use this config for most of my projects :

[code]

And we could easily add a step in the CI to check linting *before* running the tests, this

[2020-01-10 11:43] edsu commented on #147
This would be awesome @herrboyer and is worth waiting for in v4 I think. I will create new issues for both pylint and python3. If you take the first then I will take the latter (but I will wait till linting is completed before doing it).

I haven't used types much in my own work, does your linter setup do something with them?

[2020-01-10 11:44] edsu opened #148 "Linting"
It would be useful to introduce linting into the code base for v4 per #147

[2020-01-10 11:46] edsu opened #149 "Python3"
I think we can drop python2 support now that is no longer being maintained. This amounts to removing our use of the six module, and pymarc will have no dependencies afterwards!

[2020-01-10 12:53] herrboyer commented on #147
Great ! I started working on #148 here https://github.com/edsu/pymarc/pull/150 : please note that I plan to use flake8 instead of pylint which is a bit easier to configure (and to please...).

You'll be using [mypy](http://mypy-lang.org/) to check types the same you use flake8/pylint for linting (mypy something.py).
Default settings are OK, the only downside of it is that mypy will *not* raise an

[2020-01-12 20:42] dbs commented on #147
I only have a handful of commits in the project's history, and I'm not listed in the contributors list, but I would prefer to maintain the current well-understood permissive license.

I don't think moving to a public domain-type license would remove the burden of maintaining a list of code contributors. See the [CC0 FAQ](https://wiki.creativecommons.org/wiki/CC0_FAQ#May_I_apply_CC0_to_computer_sof

[2020-01-12 20:47] dbs commented on #147
On that last point, building on [this StackOverflow suggestion](https://stackoverflow.com/questions/4589731/git-blame-commit-statistics#answer-13687302), here's what the current master branch list of contributors looks like:

[code]
It's not perfect but maybe not so bad to run once per tag/release?

[2020-01-12 22:26] anarchivist commented on #147
Incidentally, I switched a work project last fall to use [all-contributors](https://github.com/all-contributors/all-contributors). I happen to like it, but I won't push for it too hard since it adds another set of dependencies (Node + associated modules) to the toolchain. (There's a bot too that uses Github actions, but I haven't used it.)

[2020-01-12 22:56] edsu commented on #147
@anarchivist thanks for sharing that! How did you end up expressing the copyright statement--was it an institution?

[2020-01-12 22:58] edsu commented on #147
@dbs that's a nice hack. Would it help with the copyright statement though?

[2020-01-12 22:59] anarchivist commented on #147
@edsu yes, it was. (unfortunately 😄 )

[2020-01-13 00:33] dbs commented on #147
It would help if you just concatenate the list of contributors to the copyright statement. So add in a `|cut -c16-50` to the end of the bash command and then have a simple Python script concatenate the strings and update the README.md file for each tag/release:

[code]
This could be adjusted to include email addresses, too, as those are more precise identifiers than just names. There are a few nam

[2020-01-13 00:38] edsu commented on #147
I don't think I've ever seen a copyright statement like that before.

[2020-01-13 12:34] dbs commented on #147
Nope. But it's the truth (or something close to it) if we extend the current practice of trying to use just a single copyright statement for the entire project, instead of applying license headers to each file in the project that state both the license of that file and the accurate list of copyright holders for / contributors to each file.

The latter approach is recommended by the GPL and Apache

[2020-01-14 07:30] herrboyer commented on #147
And what about switching the ownership of the project to a « pymarc » [organization](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-organizations), transferring the license to it and maintaining an `AUTHORS.md` file to credit all the contributors ?

[code]

[2020-01-14 10:45] edsu commented on #147
I've wanted to move edsu/pymarc to code4lib/pymarc for some time. But I wonder if moving it to a new pymarc organization might be a bit cleaner. According to this [discussion](https://opensource.stackexchange.com/questions/7124/can-a-github-organization-assert-copyright), assigning copyright to a GitHub org should be ok as long as the existing copyright holders sign off on it?

So the proposal wou

[2020-01-14 13:28] dbs commented on #147
The accepted response to that discussion states that the Github org would not be a legal entity and cannot hold copyright (1st and 4th paragraph). And the accepted response still recommends "a full list of named copyright responses" (4th paragraph).

So this doesn't really change much. You still need a centralized license header for each file. And you still need a list of the contributors, whether

[2020-01-14 20:34] edsu commented on #147
@dbs fair point, I guess I didn't really read that very closely :-) Let me merge in @herrboyer's Linting PR #150 and then it would be great if you would be willing to put together a PR that addresses how might best deal with the licensing, if you are still up for that?

[2020-01-14 23:18] #108 closed

[2020-01-15 15:21] dbs commented on #147
@edsu, I would be happy to do so!

[2020-01-15 18:08] Wooble commented on #149
Probably a good time to stop supporting EOL'ed py3 versions, too. 3.3 and 3.4 are both unsupported. dropping 3.5 too would be nice since f-strings are so nice, but it's technically still eligible for security bugfixes until September.

[2020-01-15 22:06] dbs commented on #147
See https://github.com/dbs/pymarc/tree/147_apply_license_headers for a rough first pass. It generates the LICENSE file with the list of contributors below the license, and adds headers to all Python files with the exception of docs/source/conf.py (which appears to be largely stock?)

The contributors are currently sorted by first name, but could pretty easily be sorted by number of commits or some

[2020-01-15 22:14] edsu opened #151 "License"
As part of the v4 release there has been some discussion about whether to re-license pymarc so as to better reflect the many contributors to the project, and also to simply maintenance.

See: #147

This issue is here to document any of the changes we'd like to make.

[2020-01-16 08:36] herrboyer commented on #149
Dropping 3.5 will also let us use proper typing instead of using comments :

[code]

[2020-01-19 02:04] termim commented on #149
IMHO it is good time for this. Please consider PR #152 as a first step.

[2020-01-19 13:47] #148 closed

[2020-01-19 13:49] edsu commented on #151
@dbs now that the linting is done do you want to apply your proposed licensing changes as a PR?

[2020-01-20 13:29] edsu commented on #149
Fixed by #152!

[2020-01-20 13:29] #149 closed

[2020-01-20 13:48] #151 closed

[2020-01-20 13:53] edsu opened #154 "Org account?"
pymarc is the result of many people collaborating, but on the surface it appears to belong to @edsu. Would it be useful to move the repository to an organization account? Some initial discussion led to the idea of creating a pymarc account, but unfortunately this name is already taken.

Would it be an improvement to move the repository to the [code4lib](https://github.com/code4lib) organization? P

[2020-01-20 14:03] dbs commented on #154
Would we be using [teams](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-teams) to manage access to the pymarc repo within the code4lib organization?

[2020-01-20 14:19] edsu commented on #154
@dbs yes, I think that would be appropriate right?

[2020-01-21 17:18] edsu commented on #154
Since pymarc/pymarc isn't available @dbs suggested that maybe moving to gitlab would be a good idea. I must admit I was kinda wondering if now might be a good time to do that, but I didn't want to throw too many things in the air.

[2020-01-30 13:09] edsu commented on #154
After some more ruminating about this, and chitchat in #code4lib IRC I think we're going to press the eject button on GitHub and move to a [GitLab group](https://gitlab.com/pymarc).

Before I do the [import](https://docs.gitlab.com/ee/user/project/import/github.html), if you would like your identity on tickets, PRs, commits to show up linked to your identity please go ahead and create an account o

[2020-01-30 18:35] termim commented on #154
What about pymarc21? It seems available.

[2020-01-30 19:27] edsu commented on #154
There are actually other reasons than the namespace for moving to GitLab the biggest of which is that it's an opensource project that aligns with the values that pymarc has been developed with. Also, the decentralized approach where there isn't one specific company (e.g. Microsoft) who is on the hook to sustain the project. There can be, and are, many Gitlab instances and that is a good thing.

[2020-02-03 20:08] edsu commented on #154
https://gitlab.com/pymarc/pymarc is live!